.custom-segmented {
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 8px;

  .ant-segmented-item-selected .ant-segmented-item-label {
    color: #7f56d9 !important;
    border-radius: 8px;
  }
}

.settingDrawer {
  .ant-drawer-content-wrapper {
    width: 100% !important;
    box-shadow: none !important;
    .ant-drawer-header {
      display: none;
    }
    .ant-drawer-content {
      .ant-drawer-body {
        padding: 0;
        background-color: #f5f5f5;
      }
    }
  }
}

.my-select {
  .ant-select,
  .ant-select-open {
    width: 100%;
    box-shadow: none;
    .ant-select-selector {
      padding: 0 !important;
      background-color: rgb(249 250 251) !important;
      border: none !important;
      box-shadow: none;
      .ant-select-selection-item {
        font-weight: 500;
      }
    }
  }
}
