.M-header
    position: relative
    z-index: 999
    border-radius: 0
    overflow hidden
    margin-left 7px
    .ant-card-body
        padding: 0
        padding-left: 0
        height: 40px
        // line-height: 32px
    .header-wrapper
        display: flex
        .logo-con
            display: flex
            font-size: 30px
            font-weight: bold
        .menu-con
            margin-left: 20px
            width: 300px
        .opt-con
            display: flex
            flex: 1
            justify-content: flex-end
            gap: 20px
            margin-right 20px
            margin-top 3px