.custom-segmented {
  font-size: 18px;
  font-weight: 600;
  height: 36px;
  padding: 4px;
  // margin-bottom: 8px;

  .ant-segmented-item-selected .ant-segmented-item-label {
    color: #7f56d9 !important;
    border-radius: 8px;
  }
}
