.container {
  padding: 20px;
}

.title {
  font-size: 24px;
  background: #f7f8fa;
  padding: 14px;
  font-weight: 700;
  border-radius: 12px;
  font-size: 16px;
}

.knowledgeBaseContainer {
  display: flex;
  justify-content: space-between;
}
