.lg\:prose-xl {
  font-size: 1.1rem !important;
}

.catalogs-collapse {
  border-radius: 0;

  .ant-collapse-item {
    border-radius: 0 !important;
  }

  .ant-collapse-content-box {
    padding: 0 !important;
  }

  .catalogs-collapse-item {
    .ant-collapse-header {
      background: #fff;
      cursor: auto;
      color: #000;
    }
  }
}

.call-logs-table {
  .ant-table-column-title {
    overflow: hidden;
  }
}

.priority-select-dropdown {
  padding-top: 4px !important;

  .ant-select-dropdown {
    margin-top: 0 !important;
  }
}

.custom-collapse {
  .ant-collapse-content-box {
    padding: 0 !important;
  }

  .ant-collapse-header {
    padding: 0 !important;
  }
}
