.table {
  :global {
    .ant-table-cell {
      word-break: break-word;
      word-wrap: break-word;
    }
    .ant-table-expanded-row {
      .ant-table {
        margin-inline: 80px -16px !important;
        border: none !important;
      }
    }
  }
}
