.modal {
  :global {
    .ant-modal-content {
      background: transparent;
      box-shadow: none;
      width: 416px;
      padding: 0;
      h1 {
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}
