.historyList{
    
}
.historyItem{
margin-bottom: 20px;
background-color: #f7f8fa;
padding: 10px;
border-radius: 5px;
}
.label{
font-size: 14px;
display: inline-block;
margin-right: 10px;
}
.value{
font-size: 14px;

}
.content{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}