.ai-code-md-edit {
  .w-md-editor-input {
    background-color: transparent !important;
    
  }
  .w-md-editor-text {
    background-color: transparent !important;
    color: #181b25 !important;
    min-height: auto !important;
    padding: 0 !important;
    // max-height: 800px !important;
  }
}
