.upload-document-wrapper {
  .normal-text {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
  }

  .tips {
    font-size: 14px;
    color: #666666;
  }
}

.upload-document {
  .ant-progress-bg {
    height: 14px !important;
  }

}